.card{
  padding: 1rem;
  border: 2px solid $primary;
  border-radius: 12px;
  margin-top: 1rem;
  width: 100%;
}

.title{
  margin-bottom: 1rem;
}

.table{
  @include flex(flex, row, space-between, start);
  gap: 1rem;
}

.column{
  @include flex(flex, column, start, start);
  gap: 0.5rem;
}

.item{
  @include flex(flex, row, flex-start, center);
  gap: 1rem;
}

.imageWrapper{
  width: 24px;
}

.record{
  width: 100%;
  @include flex(flex, row, space-around, center);
}

.recordItem{
  font-size: 0.735rem;
}