
$gray: #C7C7C7;
$gray-light: #F1F1F1;
$chipBG: #D7D7D7;

//actual
$white: #FFFFFF;
$black: #222C3D;
$blue: #0058ED;
$blue-light: #E2EDFF;
$pink: #F0006A;
$pink-dark: #C10055;
$gray-blue: #818FB0;

//ozon
$ozonBlue: #005BFF;
$darkSpace: #001A34;
$nightSky: #090089;
$morningBlue: #00A2FF;
$ozonMagenta: #F91155;
$aquaBlue: #28D1EB;
$wreathGreen: #06CA99;
$yellowStar: #FAE670;
